body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

h1 {    
    margin: 20px;
}

.container {
    display: flex;
    height: calc(100vh - 3em);
}

#header, #overlay {    
    width: 100%;
}

#panel {
    flex: 40%;    
}


#preview {    
    position: relative;
    width: 60%;
}

#header {
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#overlay {
    top: 3em;
    bottom: 0;
}

#overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    display: none;
}

#overlay > .notification {
    margin: auto;
    padding: 1em;
    max-width: 50%;
    background: white;
}

#header > * {
    height: 2em;
    margin: 0 0.5em;
    font-size: 1em;
    font-family: ArtifaktElement;
}

#header .title {
    flex: 1 0 auto;
    height: auto;
}

#models {
    flex: 0 1 auto;
    min-width: 2em;
}

.card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: gray;
    border-radius: 5px;
    box-shadow: 0 0 5px  rgba(0,0,0,0.3);
}

button {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.list  {
    height: 150px;
    overflow-y: auto;
}

ul {
    list-style-type: none;
}

.circulo {
    background-color: yellow;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}